@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "../../node_modules/preline/variants.css";

@theme {
    --color-primary: #f7a09e;
    --color-secondary: #946756;
}

@layer base {
    body {
        font-family: 'Poppins', sans-serif;
        background-color: var(--color-secondary);
    }

    .button-whatsapp {
        @apply w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-xl font-medium rounded-lg border border-transparent bg-green-500 text-white hover:bg-green-600 focus:outline-hidden focus:bg-green-600 disabled:opacity-50 disabled:pointer-events-none;
    }

    .button-shopee {
        @apply w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-xl font-medium rounded-lg border border-transparent bg-orange-500 text-white hover:bg-orange-600 focus:outline-hidden focus:bg-orange-600 disabled:opacity-50 disabled:pointer-events-none;
    }

    .button-tiktok {
        @apply w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-xl font-medium rounded-lg border border-transparent bg-black text-white hover:bg-black/80 focus:outline-hidden focus:bg-black/80 disabled:opacity-50 disabled:pointer-events-none;
    }
}